<div class="aw-layout-simple-page__container">

  <form #f="ngForm" autocomplete="off">

    <div class="aw-simple-panel">
      <h1><B>CONTROLE DE ESTOQUE</B></h1>

      <div class="aw-simple-panel__message">
        Por favor, faça o login.

      </div>

      <div class="aw-simple-panel__box">
          <div class="form-group  has-feedback">
        <p-messages key="mensagem"></p-messages>
          </div>

        <div class="form-group  has-feedback">
          <input type="text" class="form-control  input-lg" placeholder="Seu login" name="usuario" [(ngModel)]="usuario"/>
          <span class="glyphicon  glyphicon-user  form-control-feedback" aria-hidden="true"></span>
        </div>

        <div class="form-group  has-feedback">
          <input type="password" class="form-control  input-lg" placeholder="Sua senha" name="senha" [(ngModel)]="senha"/>
          <span class="glyphicon  glyphicon-lock  form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width"
          (click)="login(usuario.value, senha.value); senha.value=''">Entrar</button>
        </div>
      </div>

    </div>
  </form>

</div>
