<div class="page-header">
  <div class="container-fluid">
    <h1>
      Dashboard
    </h1>
  </div>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4">

      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-trophy  fa-3x"></i>
        </div>
        <div class="aw-box__value">2330</div>
        <div class="aw-box__title">Maior saida</div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-shopping-basket  fa-3x"></i>
        </div>
        <div class="aw-box__value"> {{ maiorEstoque }}</div>
        <div class="aw-box__title">Maior estoque</div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-truck  fa-3x"></i>
        </div>
        <div class="aw-box__value">{{ produtos }}</div>
        <div class="aw-box__title">Produtos Total</div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">

      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-cloud-upload  fa-3x"></i>
        </div>
        <div class="aw-box__value">1.298</div>
        <div class="aw-box__title">Saída no mês</div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-cloud-download  fa-3x"></i>
        </div>
        <div class="aw-box__value">1232</div>
        <div class="aw-box__title">Entrada no mês</div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="aw-box">
        <div class="aw-box__icon">
          <i class="fa  fa-battery-empty  fa-3x"></i>
        </div>
        <div class="aw-box__value">{{ semEstoque }}</div>
        <div class="aw-box__title">Produtos sem estoque</div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="aw-graph-box">
        <div class="aw-graph-box__header">
          <h2 class="aw-graph-box__title">Movimentação por mês <small>últimos 12 meses</small></h2>
        </div>
        <div class="aw-graph-box__content">
          <div class="aw-graph-box__no-data">
              <i class="fa  fa-line-chart  fa-2x"></i>
              <span>Não há dados</span>
          </div>

          <div>
            <canvas id="lineChart" height="160"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="aw-graph-box">
        <div class="aw-graph-box__header">
          <h2 class="aw-graph-box__title">Estoque <small>produtos por categoria</small></h2>
        </div>
        <div class="aw-graph-box__content">
          <p-chart type="pie" [data]="pizzaGrafico"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>

