<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand  hidden-xs" href="#">
        <strong>Controle de Estoque</strong>
      </a>

      <ul class="nav  navbar-nav">
        <li>
          <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
        </li>
      </ul>
    </div>

    <ul class="nav navbar-nav  navbar-right">

      <li pTooltip="Página Inicial" tooltipZIndex="2000" tooltipPosition="bottom">
        <a routerLink="/dashboard" aria-expanded="false">
          <span class="fa fa-dashboard"></span>
        </a>
      </li>
      <!--
      <li pTooltip="Notificações" tooltipZIndex="2000" tooltipPosition="bottom">
        <a href="#" aria-expanded="false">
          <i class="fa  fa-bell"></i> <span class="label  label-danger  aw-label-corner">48</span>
        </a>
      </li>
      -->
      <li class="dropdown" pTooltip="Cadastros" tooltipZIndex="2000" tooltipPosition="bottom">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <span class="fa fa-database"></span>
        </a>

        <ul class="dropdown-menu">
          <li><a routerLink="/categorias">Categorias</a></li>
          <li><a routerLink="/subcategorias">Subcategorias</a></li>
          <li><a routerLink="/produtos">Produtos</a></li>
        </ul>
      </li>

      <li pTooltip="Movimentação de produtos" tooltipZIndex="2000" tooltipPosition="bottom">
        <a routerLink="/movimentos" aria-expanded="false">
          <span class="fa fa-exchange"></span>
        </a>
      </li>
      
      <li class="dropdown" pTooltip="Relatórios" tooltipZIndex="2000" tooltipPosition="bottom">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-file-text"></i>
          </a>

          <ul class="dropdown-menu">
            <li><a href="{{ relatorioProdutosUrl }}" target="blank">Estoque de produtos</a></li>
            <!--
            <li><a href="javascript:;">Movimentação de produtos</a></li>
             --> 
          </ul>
      </li>
      
      <li pTooltip="Configurações" tooltipZIndex="2000" tooltipPosition="bottom">
        <a href="{{ adminUrl }}" aria-expanded="false" target="blank"> 
          <span class="fa fa-gears"></span>
        </a>
      </li>

      <li class="dropdown" pTooltip="Usuário" tooltipZIndex="2000" tooltipPosition="left">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"aria-expanded="false">
            <i class="fa fa-user" ></i>
        </a>

        <ul class="dropdown-menu">
          <li>
            <div class="aw-logged-user">
              <img src="assets/images/default-user.png" width="80" height="80" alt="João das Couves"
                class="aw-logged-user__picture" />
              <span class="aw-logged-user__name">{{ auth.jwtPayload?.login }}</span>
            </div>
          </li>
          <li>
            <a href="{{ alterarSenhaUrl }}" target="blank">Alterar senha</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
              <a routerLink="/login"><em class="fa  fa-sign-out"></em> Sair</a>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</nav>
