.nav-user-dropdown {
	margin-bottom: 0px !Important;
	margin-top: 0px !Important;
	padding-bottom: 5px !Important;
	padding-top: 8px !Important;
}

.nav-user-dropdown-image {
	margin-top: 4px;
}