<div class="page-header">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10">
        <h1>
          Movimentação do estoque
        </h1>
      </div>

      <div class="col-xs-2">
        <div class="aw-page-header-controls">
          <a class="btn btn-success" routerLink="/movimentos/entrada" style="margin-right: 10px"
          tooltipZIndex="2000" pTooltip="Nova entrada de produto" tooltipPosition="left">
            <i class="fa  fa-download"></i> <span class="hidden-xs  hidden-sm"> Entrada </span>
          </a>

          <a class="btn btn-danger" routerLink="/movimentos/saida"
          tooltipZIndex="2000" pTooltip="Nova saída de produto" tooltipPosition="left">
            <i class="fa  fa-upload"></i> <span class="hidden-xs  hidden-sm"> Saída </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
