.col-acoes {
    width: 90px;
    text-align: center;
}

.col-movimento {

    text-align: center;
}

.col-produto {
    width: 40%;
    text-align: left;
}

.col-data {
    width: 100px;
    text-align: left;
}

.col-qtde {
    text-align: right;
}

.col-estoque {
    text-align: right;
}

.col-usuario {

    text-align: right;
}

.col-status {
  text-align: center;
}
