<div class="page-header">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10">
        <h1>
          Produtos
        </h1>
      </div>

      <div class="col-xs-2">
        <div class="aw-page-header-controls">
          <a class="btn btn-primary" routerLink="/produtos/novo">
            <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm"> Novo produto</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="ui-g-12 ui-fluid">
    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" acceptLabel="Sim" rejectLabel="Cancelar"></p-confirmDialog>
  </div>
  <div class="ui-g-12 ui-fluid">
    <p-messages key="mensagem"></p-messages>
  </div>

  <form autocomplete="off" (ngSubmit)="pesquisar()">

    <div class="row">
    <div class="ui-g-7 ui-sm-12 ui-fluid">
      <label>Pesquisar</label>
      <input pInputText type="text" icon="fa fa-search" name="nome" placeholder="Código ou descrição" [(ngModel)]="filtro.valor">
    </div>
  </div>

    <div class="row">
    <div class="ui-g-3 ui-sm-12 ui-fluid">
      <label>Subcategoria</label>
      <p-dropdown [options]="subcategorias" name="subcategoria" [(ngModel)]="filtro.subcategoria" placeholder="Todas"
        [autoWidth]="false" [autoWidth]="false" [filter]="true"></p-dropdown>
    </div>

    <div class="ui-g-2 ui-sm-12 ui-fluid">
      <label>Unidade de medida</label>
      <p-dropdown [options]="medidas" name="medida" [(ngModel)]="filtro.medida" placeholder="Todas"
        [autoWidth]="false" [autoWidth]="false"></p-dropdown>
    </div>

    <div class="ui-g-2 ui-sm-12 ui-fluid">
      <label>Local</label>
      <p-dropdown [options]="locais" name="local" [(ngModel)]="filtro.local" placeholder="Todos"
        [autoWidth]="false" [autoWidth]="false"></p-dropdown>
    </div>
  </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" icon="fa fa-search"></button>
      <a routerLink="/subcategorias/nova" style="margin: 20px">
        <i class="fa  fa-file-pdf-o "></i> <span class="hidden-xs  hidden-sm"> Exportar como PDF</span>
      </a>
      <a routerLink="/subcategorias/nova" >
        <i class="fa  fa-file-excel-o"></i> <span class="hidden-xs  hidden-sm"> Exportar como Panilha</span>
      </a>
    </div>

  </form>

  <div class="ui-g-12" style="margin-top: 30px">

    <p-table #tabela [value]="produtos" [responsive]="true" [loading]="carregando" [paginator]="true" [rows]="filtro.itensPorPagina"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">

      <ng-template pTemplate="header">
        <tr>
          <th [ngClass]="'col-codigo'">Cód.</th>
          <th [ngClass]="'col-descricao'">Descrição</th>
          <th>Subcategoria</th>
          <th [ngClass]="'col-medida'">Medida</th>
          <th [ngClass]="'col-local'">Local</th>
          <th [ngClass]="'col-estoque'">Estoque</th>
          <th [ngClass]="'col-status'">Status</th>

          <th [ngClass]="'col-acoes'"> </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-produto>
        <tr>
          <td [ngClass]="'col-codigo'">{{produto.codigo}}</td>
          <td [ngClass]="'col-descricao'">{{produto.descricao | titlecase}}</td>
          <td>{{produto.subcategoria.nome}} - {{produto.subcategoria.categoria.nome}}</td>
          <td [ngClass]="'col-medida'">{{produto.medida.descricao | titlecase}}</td>
          <td [ngClass]="'col-local'">{{produto.local.descricao | titlecase}}</td>
          <td [ngClass]="'col-estoque'">{{produto.estoque}}  </td>
          <td [ngClass]="'col-status'">
            <span class="label label-success" *ngIf="produto.estoque >= produto.minimo">NORMAL</span>
            <span class="label label-warning" *ngIf="produto.estoque < produto.minimo && produto.estoque > 0">BAIXO</span>
            <span class="label label-danger" *ngIf="produto.estoque === 0">SEM ESTOQUE</span>
         </td>
          <td [ngClass]="'col-acoes'">
            <p-button icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/produtos', produto.id ]"></p-button>
            &nbsp;
            <p-button icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="excluir(produto)"></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        {{ totalRegistros }} Produtos cadastrados
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="6">
            Nenhuma produto encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


</div>
