<div class="page-header">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10">
        <h1>
          Subcategorias
        </h1>
      </div>

      <div class="col-xs-2">
        <div class="aw-page-header-controls">
          <a class="btn btn-primary" routerLink="/subcategorias/nova">
            <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm"> Nova subcategoria</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="ui-g">

    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" acceptLabel="Sim" rejectLabel="Cancelar"></p-confirmDialog>

    <div class="ui-g-12 ui-fluid">
      <p-messages key="mensagem"></p-messages>
    </div>

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-8 ui-sm-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" icon="fa fa-search" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-4 ui-sm-12 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" name="categoria" [(ngModel)]="filtro.categoria"
          placeholder="Todas" [autoWidth]="false"></p-dropdown>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" icon="fa fa-search"></button>
      </div>

    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12" style="margin-top: 30px">

      <p-table #tabela [value]="subcategorias" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">

        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>

            <th [ngClass]="'col-acoes'"> </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-subcategoria>
          <tr>
            <td>{{subcategoria.nome}}</td>
            <td>{{subcategoria.descricao}}</td>
            <td>{{subcategoria.categoria.nome}}</td>

            <td [ngClass]="'col-acoes'">
              <p-button icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/subcategorias', subcategoria.id ]" ></p-button>
              &nbsp;
              <p-button icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="excluir(subcategoria)"></p-button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          {{ totalRegistros }} subcategorias registradas
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="6">
              Nenhuma subcategoria encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>

</div>
